<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!--{% include analytics.html %}-->
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/general">General</a></li>
	        		<li><a href="/specific">Specific</a></li>
	        		<li><a href="/win">W-I-N</a></li>
	    		</ul>
			</nav>
			<!-- /.container -->
			<div class="container">
			
			{{ content }}
			
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:iagfmd@gmail.com">email</a></li>
	        		<li><a href="https://github.com/shiqiw">github.com/shiqiw</a></li>
				</ul>
			</footer>
		</body>
	</html>
